@import '../SCSS/media';
.Homepage .Header {
  display: flex !important;
  flex-direction: column !important;
  & a {
    align-self: baseline;
    height: 50px;
    display: flex;
    align-items: center;
    @include sm {
      height: 100px;
    }
  }
  &-logo{
    width: 30px !important;
    height: 30px !important;
    @include sm {
      width: 80px !important;
      height: 80px !important;
    }
  }
  &-input{
    width: 100%;
    height: 100px;

    @include sm {
      height: 200px;
    }
    background-color: #1a1919 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    & input{
      margin-right: 10px;
      &:focus + label {display: initial;}

    }
    & label:hover {
      color: #c1c1c1;
    }
  }
  
}