.Movies .Header{
    &-input{
        & input{
            border-bottom: 0px;
            width: 0px !important;
            transition: all 0.2s;
            &:focus {
                border-bottom: 1px solid;
                width: 385px !important;

            }
        }
    }
}