.select-lang {
    width: 50px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-bottom-color: white;
    background-color: transparent;
    padding-bottom: 4px;
    color: white;
}