@import '../../assets/SCSS/media';

.Header {
    background-color: none;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    &-logo {
        margin: 10px 10px;
        width: 300px;
        @include sm {
            margin: 10px 40px;
            width: 400px;
        }
        height: 40px;
        background-image: url(../../assets/LogoRMovie.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    & input {
        padding: 0 10px;
        margin: 10px 10px 10px 0;
        &:focus {
            outline: none;
            border-bottom: 1px solid white;
            & + label {display: none;}
        }
        width: 200px !important;
        font-size: 20px;
        @include sm {
            width: 385px;
            font-size: 25px;

        }
        margin: 10px 0;
        border: none;
        background: none;
        color: rgb(200, 200, 200);
        border-bottom: 1px solid white;
        padding: 0 10px;

    }
    & label {
        margin-right: 10px;
        color: rgb(124, 124, 124);
        font-size: 20px;
    }
  }