.Header {
    background-color: none;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    &-logo {
        margin: 10px 40px;
        width: 40px;
        height: 40px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Android_O_Preview_Logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    & input {
        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid white;
            padding: 0 10px;
            margin: 10px 10px 10px 0;
            & + label {display: none;}
        }
        margin: 10px 0;
        border: none;
        background: none;
        color: rgb(200, 200, 200);
        font-size: 30px;
        border-bottom: 1px solid white;
        padding: 0 10px;

    }
    & label {
        margin-right: 10px;
        color: rgb(124, 124, 124);
        font-size: 30px;
    }
  }